@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply text-white overflow-x-hidden overscroll-y-contain overflow-y-scroll
}

/* Remove arrows from number input */
@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }
 }