@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-y: scroll !important;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
    @apply text-white overflow-x-hidden overscroll-x-none
}

/* Remove arrows from number input */
@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }
 }